.bk a{
    text-decoration: none;
    color: blueviolet;
}

.bk a:visited{
    color: blueviolet;
    text-decoration: none;
}

.bk a:hover{
    color: white;
    text-decoration: none;
}

.bk-list{
    list-style-type: 📖;
}