.bk a{
    text-decoration: none;
    color: rgb(20, 0, 38);
}

.bk a:visited{
    color: rgb(36, 35, 38);
    text-decoration: none;
}

.bk a:hover{
    color: #c97f5a;
    text-decoration: none;
}

/* .bk-list{
    list-style-type: 📖;
} */