.art a{
    text-decoration: none;
	color:rgb(0, 0, 0)
}

.art a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.art a:hover{
    color: #c97f5a;
    text-decoration: none;
}