<!DOCTYPE html>
<html lang="en">
<head>
  <title>abari</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../static/project.css">
  <link rel="stylesheet" href="../static/common.css"

</head>
<body style="background-color: white;" >

<!----------------BLOG NAV------------>
    <div class="blog_nav">
        <ul class="nav justify-content-center">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="../index.html">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="project.html">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="cv.html">CV</a>
            </li>
          </ul>
    </div>
    <hr class='nav_hr' align="center">
<!---------------- PAGE CONTENT ------------>
    <div class="container-fluid " style="padding-left: 10%;padding-right: 10%;">    
        <div class="row content" style="margin-top: 5%;">
            <!-- <div class="col-sm-2 sidenav">
            </div> -->
            <div class="col " style="margin: 10px; padding-right: 15%;"> 
            <p style="text-align: justify;">
                Here, you will find some personal projects.
                Each project comes with a description, and for some, a link to the GitHub repository is provided. 
                In addition to the projects, you will also find repositories that I find interesting and have 
                chosen to make public.
            </p>
            <!-- <hr> -->
            </div>
            
        </div>
        <hr class="project_hr">
    <!--------------Iprojects----------------------->
   
    <div class="row content" style="margin-top: 5%;">
        <!-- <div class="col-sm-2 sidenav">
        </div> -->
        <div class="col-sm-7 text-left"> 
        <h1 style="font-size: 16px; color:#3e1b1bb5;font-weight: bold; text-align: left;">
            <a class="project_title" href="#">iProjects</a></h1>
        <p style="text-align: justify;">
            iProjects primarily consist of personal undertakings that I have either completed or are 
            currently in progress. Additionally, they encompass various resources I find noteworthy 
            and choose to share. 
            <ul class="iproject">
                <li><a href="#">iTools</a></li>
                <li><a href="#">iMBA</a></li>
            </ul>
        </p>
        <!-- <hr> -->
        </div>
        <!-- <div class="col-sm-5 sidenav project_img" > -->
        <!-- <div class="project_img"> -->
            <!-- <img class="one" align='left'; src="../static/proj_img/itesla.jpg"> -->
        <!-- </div> -->
        
        <!-- </div> -->
        
    </div>
   
    <hr class="int_hr">

    <!-------EASYPROJECTS-->

    <div class="row content">
        <!-- <div class="col-sm-2 sidenav">
        </div> -->
        <div class="col-sm-7 text-left"> 
        <h1 style="font-size: 16px; color:#3e1b1bb5;font-weight: bold; text-align: left;">
            <a class="project_title" href="#">EasyProjects</a></h1>
        <p style="text-align: justify;">You learn by building projects, a functional system. 
            It can be complex or simple, But the moto has to be Easy to understand, 
            Easy to deploy. Easy, not simple, not complex but Easy !!!😉. It can be easy and be 
            a complex system, can be easy and be simple. For those projects I use easy prefix.
            <ul class="easy_project">
                <li><a href="#">EasyDIP</a></li>
                <li><a href="#">EasyML</a></li>
                <li><a href="#">MicroAI</a></li>
            </ul>
        </p>
        <!-- <hr> -->
        </div>
    </div>
    <hr class="int_hr" align="center">

    <!-------ISCHOOL-->
    <div class="row content">
        <!-- <div class="col-sm-2 sidenav">
        </div> -->
        <div class="col-sm-7 text-left"> 
        <h1 style="font-size: 16px; color:#3e1b1bb5;font-weight: bold; text-align: left;">
            <a class="project_title" href="#">Makaranta(iSchool)</a></h1>
        <p style="text-align: justify;">Currently in the design phase, this project aims to create a personalized learning platform capable 
            of developing individualized mental models for each learner. The underlying assumption is that 
            everyone can master any subject or field, id they are provided with resources tailored 
            to their needs.
        </p> 
        <!-- <hr> -->
        </div>
        <!-- <div class="col-sm-5 sidenav project_img" > -->
        <!-- <div class="project_img "> -->
            <!-- <img class="one "  align='left' src="../static/proj_img/ischool.jpg"> -->
        <!-- </div> -->
        
        <!-- </div> -->
    </div>
    <hr class="int_hr" align="center">
    
    <!-------SysCov-->
    <div class="row content">
        <!-- <div class="col-sm-2 sidenav">
        </div> -->
        <div class="col-sm-7 text-left"> 
        <h1 style="font-size: 16px; color:#3e1b1bb5;font-weight: bold; text-align: left;">
            <a class="project_title" href="#">SysCov</a></h1>
        <p style="text-align: justify;">This project presents a digital people counting system designed with VHDL and tested on an FPGA.
             It was proposed during the Covid-19 period, in response to the challenges faced by some establishments 
             in enforcing restrictions on the number of people who can be admitted simultaneously. 
             This project was carried out as part of the Programmable Circuits module.
        </p>
        <!-- <hr> -->
        </div>
        <div class="col-sm-5 sidenav project_img" >
        <!-- <div class="project_img "> -->
            <img class="one "  align='left' src="../static/proj_img/project_1.jpg">
        <!-- </div> -->
        
        </div>
    </div>
    <hr class="project_hr" align="center">

    </div>

<!---------------- FOOTER ------------>
    <!-- <footer class="container-fluid text-center" style="background-color: #f1f1f1;"> -->
        <footer class="container-fluid text-center">
            <div>
            <span>
                <div class="social-icons">
                <a href="https://github.com/abari111"  title="facebook"> 
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
                <a href="#" title="twitter"> 
                    <i class="fa fa-twitter-square" aria-hidden="true"></i>
                </a>
                <a href="#" title="youtube">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                </a>
                <a href="https://linkedin.com/in/in/abari-dodo-mamane-9a101118a" title="linkedin">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
                </div>
            </span>
        
            </div>
            </footer>


</body>
</html>